body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(120deg,#0f2027,#203a43,#2c5364);
    color: white;
    text-align: center;
}

header {
    padding: 20px;
    font-size: 28px;
    font-weight: bold;
    background: #00000050;
}

.container {
    margin-top: 60px;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background: #00c6ff;
    color: black;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
}

button:hover {
    background: #00bcd4;
}

.result {
    margin-top: 30px;
    font-size: 22px;
    font-weight: bold;
}

footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    font-size: 14px;
    color: #ccc;
}
